@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Khula:wght@400;600;700;800&family=Lato:wght@700&family=Nunito+Sans:wght@400;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}

.body {
  margin: 0 50px 0 50px;
}

.navbar-brand {
  font-family: "lato";
  color: #282F65;
  font-weight: 700;
}

.active {
  color: #282F65;
}

.navbar-collapse img {
  position: relative;
  bottom: 3px;
  right: 10px;
}

.jumbotron {
  background-image: url(/assets/image/pexels.png);
  border-radius: 10px 10px 0 0;
  height: 60vh;
  background-size: cover;
  background-position: center;
}
.jumbotron h1 {
  font-weight: 700;
  color: #fff;
  font-family: "khula";
}
.jumbotron p {
  font-weight: 400;
  color: #fff;
  font-size: 14px;
}
.jumbotron .avatar1 {
  position: relative;
  bottom: 20px;
  left: 220px;
}
.jumbotron .chat {
  height: 72px;
  width: 299px;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  backdrop-filter: blur(12px);
  position: relative;
  left: 80px;
}
.jumbotron .chat p {
  position: relative;
  left: 15px;
  bottom: 15px;
  font-size: 14px;
}
.jumbotron .chat .rating {
  width: 102px;
  height: 28px;
  border-radius: 4px;
  background: #3E3E3E;
  position: relative;
  top: -15px;
  left: 15px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.jumbotron .chat .avatar2 {
  position: relative;
  bottom: 40px;
  left: 270px;
}
.jumbotron .avatar3 {
  position: relative;
  bottom: 40px;
}
.jumbotron .chat-video {
  width: 252px;
  height: 80px;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(12px);
  border-radius: 4px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  bottom: 20px;
  left: 35px;
}
.jumbotron .chat-video .avatar4 {
  height: 44px;
  width: 44px;
  margin-left: 20px;
}
.jumbotron .chat-video p {
  margin-left: 10px;
  margin-top: 8px;
}
.jumbotron .chat-video .play-button {
  width: 33.85px;
  height: 33.85px;
  position: relative;
  left: 15px;
}
.jumbotron .avatar5 {
  position: relative;
  left: 300px;
  bottom: 30px;
}
.jumbotron .rating1 {
  width: 147px;
  height: 32px;
  padding: 0 25px 0 25px;
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(12px);
  position: relative;
  bottom: 50px;
  left: 110px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.jumbotron .avatar6 {
  position: relative;
  bottom: 65px;
  left: 80px;
}

.bsremove {
  padding: 0 !important;
}

.body .h2 {
  margin-top: 150px;
}
.body .h2 h2 {
  font-weight: 700;
  font-family: "khula";
  font-size: 36px;
}
.body .h2 .surlignement {
  position: relative;
  top: -35px;
  left: 70px;
  width: 220px;
  height: 16px;
  background: #79DCF2;
  border-radius: 4px;
  mix-blend-mode: darken;
}

.partenaire img {
  border-radius: 10px;
  width: 100%;
}
.partenaire .salon {
  position: relative;
  top: 73.94px;
}
.partenaire .perle {
  width: 355.35px;
  height: 73.94px;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(16px);
  border-radius: 0px 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.partenaire .perle .hashtag {
  font-size: 3rem;
  position: relative;
  bottom: 15px;
  right: 10px;
}
.partenaire .perle p {
  color: white;
  font-style: italic;
  font-size: 20px;
  margin-top: 10px;
}

.argument {
  margin-bottom: 4.7em;
}
.argument p {
  font-size: 1.5rem;
}
.argument h2 {
  font-family: "khula";
  font-weight: 700;
  font-size: 3rem;
}

.story p {
  font-size: 1.5rem;
  font-weight: 700;
  color: #79DCF2;
  margin: 0;
}
.story img {
  margin-left: 20px;
}

.box {
  height: 60px;
  width: 60px;
  background-color: #C0DFF8;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  margin-right: 30px;
}

.fa-solid {
  font-size: 30px;
  color: #282F65;
}

.icone h4 {
  color: #282F65;
  font-weight: 700;
}
.icone p {
  color: #AEAEAE;
}
.icone .section {
  margin-bottom: 7rem;
}

.service {
  margin: 0 !important;
  background-color: #EDEDED;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 150px !important;
  padding-bottom: 80px;
}
.service h2 {
  font-size: 3rem;
  font-family: "khula";
  font-weight: 700;
  text-align: center;
  margin-top: 3rem;
}

.card {
  height: 404px;
}

/* service proposé  */
.rond {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: #282F65;
  display: flex;
  justify-content: center;
}

.card-container {
  display: flex;
  justify-content: space-between;
}

.card-inside {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.card-inside .card-body-inside {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.card-inside .card-body-inside p {
  text-align: center;
}
.card-inside .card-body-inside a {
  font-weight: 600;
  padding: 10px 30px;
}

.estimation {
  background: #282F65;
  height: 262px;
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: white;
}
.estimation h1 {
  font-weight: 700;
}
.estimation p {
  font-weight: 400;
}
.estimation .form-control {
  padding: 20px;
}
.estimation .btn {
  padding-right: 50px;
  padding-left: 50px;
  color: white;
}

/*# sourceMappingURL=style.css.map */
